/abc1.html
/abcd.html
/first.html
/form.css
/landing_page.css
/landing_page.html
/landing_page.js
/my.css
/my.html
/my.jpg
/new.html
/Payment_form.html
/pepsi.html
/profile.png
/result.css
/result.html
/resume.css
/resume.html
/style.css
/stylepep.css